
.center{
    text-align: center;
}
.aling-right{
    text-align: right;
}
.aling-left{
    text-align: left;
}
.center-vertical{
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}
.ar-iframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    
}
.controles-aframe{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#instrucciones-marcador{
    text-align: center;
    color: white;
    position: absolute;
    z-index: 15;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;        
    margin-bottom: 40px;
}

html,body{
    height: 100%;
}
body{
    overflow: hidden;
}
#base{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(0, 0, 0, 0.500);
    
}
#escenario{
    height: 100%;
    color: white;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: hidden;
}
#btn-control-escenario{
    display: flex;
    z-index: 10;
}
.btn-footer{    
    min-width: 50%;
    width: 100%; 
    background: black;   
}
#aframe-escenario{
    z-index: 8;
    width: 100%;
}

/*
ESCENA 2
*/
#escena-2{
    z-index: 9;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}
#contenedor-guia-1{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -260px;
}

/*
ESCENA 3
*/
#escena-3{
    padding-top: 200px;
}
#contenedor-guia-2 {
    transform: rotate(180deg) !important;
    margin-top: -40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}





/*
ESCENEA 4

*/
#escena-4{
    width: 100%;
    height: 100%;
}
#contenedor-guia-4{
    text-align: right;
}
#personaje-guia-4{
    width: 150px;
    margin-right: -150px;
}

/*
ESCENEA 5
*/

#personaje-guia-5{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -20px;
}



/*
ESCENA 9
*/
#contenedor-guia-9{
    margin-top: 100px;
}
#personaje-guia-9{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*
CONTROLES DE ROTACIÓN
*/
#rotacion{
    text-align: center;
    display: ruby;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 40px;
}
#buttons-y{
    text-align: center;
    display: inline-block;
    display: table;
}
#buttons-y #ymas, #ymenos{
    width: 80px;
    height: 40px;
    border: none; 
    background: rgb(20, 0, 255);
    color: white;
}

#ymas{
    border-radius: 50px 50px 0 0;
}
#ymenos{
    border-radius: 0 0 50px 50px;
}
#ymas:active, #ymenos:active{
    border: solid 2px rgb(20, 0, 255) !important;
    background: white !important;
    color: black !important;
}
#buttons-z{
    display: grid;
    background: rgb(0, 0, 0);
}
#buttons-z button{    
    width: 80px;
    height: 40px;
    border: none;   
    background: rgb(255, 0, 48);
    color: white;
}
#zmas{    
    border-radius: 50px 50px 0 0;
}
#zmas:active, #zmenos:active{
    border: solid 2px rgb(255, 0, 48);
    background: white;
    color: black;
}
#zmenos{
    border-radius: 0 0 50px 50px;
}
#buttons-x{
    display: flex;    
}
#buttons-x #xmas,#xmenos{
    background: rgb(0, 0, 0);
    width: 40px;
    height: 80px;
    border: none;   
    color: white;
}
#xmas{        
    border-radius:50px 0 0 50px;
}
#xmenos:active, #xmas:active{
    border: solid 2px rgb(0, 0, 0) !important;
    background: white !important;
    color: black !important;
}
#xmenos{
    border-radius: 0 50px 50px 0;
}



/*
CONTROLES DE ESCALA
*/
.contenedor-rango{
    position: absolute;
    width: 100%;
    padding: 20px;
    bottom: 0;
}
.rango{
    text-align: center;
    margin-bottom: 40px;
    background: red;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    padding: 3px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
  .slider {
    -webkit-appearance: none;
    width:100%;
    height: 5px;
    background: #000000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background: red;
    cursor: pointer;
    border: none;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    background: red;
    cursor: pointer;
    border: none;
  }

#intruccion-final{
    color: white;
    margin-top: 20px;
}